@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(27, 27, 27);
}

html {
  min-width: 400px;
}

/* SIGN SECTION */
.modal {
  z-index: 9999;
  top: 20%;
}

.modal-content {
  background: #000000;
}

.sign-container {
  display: flex;
  flex-direction: column;
  background: #000000;
  width: 500px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.logo {
  width: 200px;
}

/* Input */
.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.text-input {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3b3;
  padding: 13px 20px;
  margin-bottom: 24px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* Switch Checkbox */
.switch-container {
  margin-left: 24px;
  margin-bottom: 10px;
  color: #fff;
}

/* Buttons and BS Icon */
.button-container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.sign-in-btn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.sign-up-btn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #f6a973;
}

.google-btn {
  margin-bottom: 12px;
}

.fb-btn {
  margin-bottom: 12px;
}

.apple-btn {
  margin-bottom: 12px;
}

.google-icon {
  margin-right: 24px;
}

.fb-icon {
  margin-right: 10px;
}

.apple-icon {
  margin-right: 35px;
}

.or-position {
  display: flex;
  justify-content: center;
  margin: 32px 0 24px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
/* SIGN SECTION END*/

/* NAVBAR STYLE */
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 25);
  height: 70px;
}

.container-fluid {
  background-color: #000;
  z-index: 999;
}

.navbar-brand {
  width: 90px;
}

.nav-links {
  color: rgb(0, 0, 0);
}

.nav-links:hover {
  color: rgb(0, 39, 157);
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.bar span.top {
  top: 6px;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 6px;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 40px;
  left: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 40px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

.btn-sign {
  --color: rgb(0, 0, 0);
  font-family: inherit;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 1em;
  position: relative;
  overflow: hidden;
  border: 4px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.btn-sign:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 70%;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}

.btn-sign:hover {
  color: #fff;
}

.btn-sign:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn-sign:hover:before {
  top: -100px;
  left: -20px;
}

.btn-sign:active:before {
  background: #000000;
  transition: background 0s;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
.input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border-color: #7a9cc6;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
/* NAVBAR STYLE END */
/* HOME CONTENT */
/* Content Background */
.home {
  background-color: rgb(27, 27, 27);
}
/* Content Background END */

/* CAROUSEL */
.carousel {
  z-index: 1;
}
.carouselimg-width {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel:hover > .carousel-control-prev,
.carousel:hover > .carousel-control-next {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  margin: 0 20px 0 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: relative;
  top: 5%;
  width: 20px;
  height: 20px;
}

.carousel-indicators > .indicator-round {
  width: 7px;
  height: 7px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* CAROUSEL END */
/* ALERT */
.alert-container {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 80px;
}
/* ALERT END */
/* Title 1 */
.trending-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tr-content-container {
  width: 100%;
}

.title-content-1 {
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.col-sm-6,
.col-md-4,
.col-xl-2 {
  display: flex;
  justify-content: center;
}
/* Title 2 */

.card {
  position: relative;
  padding: 0;
  margin: 0 0 5px 0;
  border-radius: 20px;
  overflow: hidden;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card .card-image {
  width: 100%;
  max-height: 340px;
}

.card .card-image img {
  border: none;
  border-radius: 20px;
  width: 100%;
  max-height: 340px;
}

.card .card-content {
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 160px;
  width: 100%;
  transition: bottom 0.4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card:hover .card-content h4 {
  transform: translateY(5px);
  opacity: 1;
}

.card .card-content h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s;
  color: #0e0e0e;
}

.card .card-content {
  list-style: none;
  padding: 0;
}

.card .card-content {
  margin: 0px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
}

.card .card-content a {
  color: #fff;
}

.card .card-content a span {
  font-size: 1.3rem;
}

.btn-light {
  position: absolute;
  bottom: 10%;
  width: 150px;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 500;
}
/* Cards END */
/* Modal cards */
.intro-1 {
  font-size: 16px;
}

.close {
  color: #fff;
}

.close:hover {
  color: #fff;
}

.intro-2 {
  font-size: 13px;
}
/* Modal cards End */
/* HOME CONTENT */
.row {
  margin: 0px;
  padding: 0px;
  background-color: rgb(27, 27, 27);
}

/* CARDS END */
/* Breadcrumb */
.container-bread {
  margin-top: 0px;
}

.first ol {
  background-color: none;
}

.first a:hover {
  color: rgb(0, 98, 255) !important;
}

.active-1 {
  color: #000 !important;
}

.breadcrumb > li + li:before {
  content: "" !important;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  margin-left: 25px;
  font-size: 12px;
  color: #aaa !important;
  letter-spacing: 2px;
  border-radius: 5px !important;
}

.fa,
i {
  color: rgb(255, 255, 255) !important;
  font-size: 12px;
  margin-left: 5px;
}

.first {
  background-color: rgb(27, 27, 27) !important;
}

a {
  text-decoration: none !important;
}

a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important;
}

.fa-caret-right {
  vertical-align: middle;
  font-size: 15px !important;
}

/* Breadcrumb END */
/* MOVIES Menu */
.movies-container {
  background-color: rgb(27, 27, 27);
}

.movies-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  background-color: rgb(27, 27, 27);
}

.movies-title {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.upcoming-container {
  background-color: rgb(27, 27, 27);
}

.upcoming-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  background-color: rgb(27, 27, 27);
}

.upcoming-title {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

/* FOOTER */
.footer-bg {
  background: #000;
}

.list-unstyled {
  color: white;
}
