@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html {
  margin: 0px;
}

/* SIGN SECTION */
.sign-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Signin text*/
.sign-in-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000032;
  padding: 48px 293px 41px 24px;
}

/* Input */
.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.text-input {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3b3;
  padding: 13px 20px;
  margin-bottom: 24px;
}

/* Switch Checkbox */
.switch-container {
  margin-left: 24px;
  margin-bottom: 10px;
}

/* Buttons and BS Icon */
.button-container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.sign-in-btn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.sign-up-btn {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #f6a973;
}

.google-btn {
  margin-bottom: 12px;
}

.fb-btn {
  margin-bottom: 12px;
}

.apple-btn {
  margin-bottom: 12px;
}

.google-icon {
  margin-right: 24px;
}

.fb-icon {
  margin-right: 10px;
}

.apple-icon {
  margin-right: 35px;
}

.or-position {
  display: flex;
  justify-content: center;
  margin: 32px 0 24px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
/* SIGN SECTION END*/

.navbar-brand {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
  color: #000032;
}

.navbar-brand span {
  color: #f6a973;
}

.signin-chm-btn {
  width: max-content;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #f6a973;
}

.form-control {
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}

.input-group-text {
  background: none;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}
